XTerm.vt100.faceName: Input Mono:size=12:antialias=false
XTerm.vt100.font: 7x13

*foreground:   #424242
#ifdef background_opacity
*background:   [background_opacity]#424242
#else
*background:   #ffffec
#endif
*cursorColor:  #8f7634

*color0:         #424242
*color1:         #b85c57
*color2:         #57864e
*color3:         #8f7634
*color4:         #2a8dc5
*color5:         #8888c7
*color6:         #6aa7a8
*color7:         #999957

*color8:         #b7b19c
*color9:         #f2acaa
*color10:        #98ce8f
*color11:        #ededa6
*color12:        #a6dcf8
*color13:        #d0d0f7
*color14:        #b0eced
*color15:        #ffffec
